<!-- Begin Latest News Section -->
<section id="latest-news" class="latest-news">
	<div class="content-wrapper">
		<div class="col-lg-10 col-lg-offset-1">
			<h3>Sobre el Open Space</h3>
			<article class="row">
					<div class="post col-md-6 col-sm-6 text-left animated hiding" data-animation="fadeInDown" data-delay="500">
						<h6>¿De qué se va a hablar?</h6>
						<p class="post-body">
							tener conversaciones interesantes sobre un tema que te interesa y
							compartir su experiencia y su desconocimiento con otros como tú
							que estudian, enseñan, practican, forman, preparan, entrenan…
						</p>
					</div>
					<div class="post col-md-6 col-sm-6 text-left animated hiding" data-animation="fadeInDown" data-delay="500">
						<h6>¿Qué voy a aprender/compartir?</h6>
						<p class="post-body">
							LA PROGRAMACIÓN
							como alumno, maestro , mentor, guÍa , estudiante, aprendiz, formador, creador de contenidos educativos.…
							Y lo hacen por karma, dinero, fama, desarrollo personal, gloria, ego, negocio, política, trabajo...
						</p>
					</div>
			</article>
		</div>
	</div>
</section>
<!-- End Latest News Section -->
